

<ion-content [fullscreen]="true">
  <div class="welcome-message">
    
    <p class="p1"><ion-icon name="pulse-outline"></ion-icon> <br> <strong>AppMonitoramento</strong></p>
  </div>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <form (submit)="login()">
          <ion-card-header>
            <h1 class="titulo">Login</h1>
            <ion-card-title> Defina suas credenciais</ion-card-title>
          </ion-card-header>
          <div class="input">
          <ion-item>
            <ion-label position="floating" class="label">Email:</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="label">Senha:</ion-label>
            <ion-input type="password" [(ngModel)]="senha" name="senha" required></ion-input>
          </ion-item>
        </div>
          <ion-button class="button-85" role="button" expand="block" type="submit">Login</ion-button>
          <div class="link">
          <!-- <a href="/cadastro"><ion-text>cadastrar</ion-text></a> -->
          <a href="#"><ion-text>esqueci a senha</ion-text></a>
          </div>
          <ion-text color="danger">{{ mensagem }}</ion-text>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="image">
      <img src="assets/login.png" alt="Perfil">
  </div>
</ion-content>
