
<ion-content>
  <div class="welcome-message">
    <img src="assets/logo/logotipo2.png" alt="">
  </div>
  <div class="container">
    <ion-card>

 
  <form (submit)="resetPassword()">          
    <h1 class="titulo">Redifinir senha</h1>        
  <ion-item class="ion-item-custom">
    <ion-label position="floating" class="label">Email:</ion-label>
    <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
  </ion-item>
  <br>
  <ion-button class="button-85" role="button" expand="block" type="submit">Redefinir</ion-button>
  <p></p>
  <ion-text color="black" class="sucesso">{{ mensagemGreen }}</ion-text> 
  <p></p>
  </form>
</ion-card>
</div>

<a href="/login"><ion-button class="button-85 return" role="button" type="submit">VOLTAR</ion-button></a>
</ion-content>