<ion-content [fullscreen]="true">
  <div class="welcome-message">
    <img src="assets/logo/logotipo2.png" alt="">
  </div>

<div *ngIf="section1">

  <div class="section-1" *ngIf="section === 1">
    <ion-card>
      <ion-card-content>
        <form (submit)="atualizarDados()">
          
            <h1 class="titulo">Dados Adicionais</h1>
            <ion-card-title>Como podemos te chamar?</ion-card-title>
        
          <ion-item>
            <ion-label position="floating">Nome ou Apelido</ion-label>
            <ion-input type="text" [(ngModel)]="novoNome" name="novoNome" required></ion-input>
          </ion-item>
          <ion-button class="button-85" role="button" expand="block" type="submit">continuar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="section-2" *ngIf="section === 2">
    <ion-card>
      <ion-card-content>
        <form (submit)="atualizarDados()">
          
            <h1 class="titulo">Mais uma pergunta</h1>
            <ion-card-title>Qual é a sua data de nascimento?</ion-card-title>
         
          <ion-item>
            <ion-label position="floating"></ion-label>
            <ion-input type="date" [(ngModel)]="novaIdade" name="novaIdade" required></ion-input>
          </ion-item>
          <ion-button class="button-85" role="button" expand="block" type="submit">continuar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="section-3" *ngIf="section === 3">
    <ion-card>
      <ion-card-content>
        <form (submit)="atualizarDados()">
         
            <h1 class="titulo">Mais uma pergunta</h1>
            <ion-card-title>Qual é o seu gênero?</ion-card-title>
         <br>
          <ion-radio-group [(ngModel)]="novoGenero" name="novoGenero" required>
            <ion-item class="custom-radio-item">
              <ion-label>Masculino</ion-label>
              <ion-radio slot="start" value="masculino"></ion-radio>
            </ion-item>
            <ion-item class="custom-radio-item">
              <ion-label>Feminino</ion-label>
              <ion-radio slot="start" value="feminino"></ion-radio>
            </ion-item>
            <ion-item class="custom-radio-item">
              <ion-label>Outros</ion-label>
              <ion-radio slot="start" value="outros"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-button class="button-85" role="button" expand="block" type="submit">Continuar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  

  <div class="section-4" *ngIf="section === 4">
    <ion-card>
      <ion-card-content>
        <form (submit)="atualizarDados()">
         
            <h1 class="titulo">Mais uma pergunta</h1>
            <ion-card-title>Qual é o seu peso em kg?</ion-card-title>
  
          <ion-item>
            <ion-label position="floating">Peso</ion-label>
            <ion-input type="number" [(ngModel)]="novoPeso" name="novoPeso" required></ion-input>
          </ion-item>
          <ion-button class="button-85" role="button" expand="block" type="submit">Continuar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="section-5" *ngIf="section === 5">
    <ion-card>
      <ion-card-content>
        <form (submit)="atualizarDados()">
        
            <h1 class="titulo">Mais uma pergunta</h1>
            <ion-card-title>Qual é o seu CPF?</ion-card-title>

          <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input type="text" [(ngModel)]="novoCPF" name="novoCPF" required></ion-input>
          </ion-item>
          <ion-button class="button-85" role="button" expand="block" type="submit">Continuar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="section-6" *ngIf="section === 6">
    <ion-card>
      <ion-card-content>
        <h1 class="titulo">Confirmação</h1>
        <ion-card-title>Por favor, confirme suas informações:</ion-card-title>
        <div class="infos">
        <ion-item>
          <ion-label>Nome:</ion-label>
          <ion-input [(ngModel)]="novoNome" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Data de Nascimento:</ion-label>
          <ion-input [(ngModel)]="novaIdade" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Gênero:</ion-label>
          <ion-input [(ngModel)]="novoGenero" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Peso:</ion-label>
          <ion-input [(ngModel)]="novoPeso" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>CPF:</ion-label>
          <ion-input [(ngModel)]="novoCPF" disabled></ion-input>
        </ion-item>
      </div>
        <ion-button class="button-85" role="button" expand="block"  (click)="confirmarDados()" (click)="section2()">Confirmar</ion-button>
        <ion-button class="button-85 btn2" role="button" expand="block"  (click)="editarDados()">Editar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>  
  </div>

  <div class="section-2" *ngIf="!section1">
    <ion-card>
        <ion-card-header>
          <h1 class="titulo">Muito Bem!</h1>
          <ion-card-title>Vamos iniciar sua jornada?</ion-card-title>
        </ion-card-header>
        <a href="/home"><ion-button class="button-85" role="button"  expand="block">
          <ion-icon name="person"></ion-icon> <strong> confirmar </strong>
        </ion-button></a>
    </ion-card>
  </div>
  

  <img src="assets/dados.png" alt="">
</ion-content>
