ion-content {
  --ion-background-color: rgb(255,255,255);
  --background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(0,99,177,1) 99%, rgba(0,120,166,1) 100%);
  
  // Adicione a classe fade-in
  &.fade-in {
    animation: fadeInAnimation 1s ease-in forwards;
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ion-content {
  
    --ion-background-color: rgb(255,255,255);
    --background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(0,99,177,1) 99%, rgba(0,120,166,1) 100%);
  } 

  .section-1{
    margin-top: 50px;
  }

  .section-2{
    margin-top: 15%;
  }
  
  .welcome-message {
    color: #0051ff; /* letras azuis */
    font-size: 26px;
    text-align: center;
  }

  .welcome-message2 {
    color: #0051ff; /* letras azuis */
    font-size: 26px;
    text-align: center;
    margin-top: -30px;
  }

  .welcome-message img {
    width: 50px;
    margin-bottom: -30px;
  }

  .welcome-message2 img {
    width: 50px;
    margin-bottom: -30px;
  }

  .welcome-message2 .img2 {
    width: 200px;
    margin-bottom: 0;
  }
  
  .p2 {
    font-size: 18px;
  }
  
  ion-button {
    --color: #ffff ; /* letras brancas */ 
  }

  .btn2{
    margin-top: 100px;
  }
  

  ion-card{
    --background: #fffff;
    padding: 10px 10px;
  }

  .image {
    position: relative;
    animation: float 3s infinite;
    filter: drop-shadow(0px 30px 19px #000000);
    transition: transform 1s ease-in-out; /* Transição suave para rotação */
  }
  
  .image.rotating {
    transform: rotate(360deg);
  }
  
   
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  


  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
  

  
  
  
  
  
  
  
  

  
  
  