
<ion-content class="ion-padding fade-in" *ngIf="isLoading">
  <div class="loading-container">
    <div class="loader"></div>
  </div>
</ion-content>



<ion-content class="ion-padding" *ngIf="!isLoading">
  <div class="section-1" *ngIf="mostrarBoasVindas">
    <ion-card>
      <div class="welcome-message">
        <img src="assets/logo/isotipo2.png" alt="">
        <p class="p1">Seja bem-vindo <br> ao <strong>ConectaFit</strong></p>
        <p class="p2">Aqui você poderá começar sua jornada para uma vida melhor e mais saudável!</p>
      </div>
    </ion-card>
    <div class="image" [class.rotating]="isRotating" (click)="toggleRotation()">
      <img src="assets/medico.png" alt="Médico">
    </div>
    <div class="buttons">
      <ion-button class="button-85" role="button" expand="block" (click)="mostrarProximaTela()">
        <strong>Começar</strong>
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="section-2" *ngIf="!mostrarBoasVindas">
    <div class="welcome-message2">
      <img class="img2" src="assets/logo/logotipo2.png" alt="">
      <p class="p1"><strong>Vamos começar a jornada?</strong></p>
    </div>
    <div class="image">
      <img src="assets/perfil.png" alt="Perfil">
    </div>
    <div class="buttons btn2">
      <ion-button class="button-85" role="button"  expand="block" (click)="login()">
        <ion-icon name="person"></ion-icon> <strong> Login</strong>
      </ion-button>
      <p></p>
      <ion-button class="button-85" role="button"  expand="block" (click)="cadastrar()">
        <ion-icon name="person-add"></ion-icon> <strong> Cadastre-se</strong>
      </ion-button>
    </div>
  </div>
</ion-content>
